* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  background-color: #dc5f00;
}
header {
  text-align: center;
  background-color: #fff;
}
h2 {
  margin-top: 40px;
  margin-left: 20px;
}
#acciones-carrito {
  margin-left: 20px;
  align-items: center;
}
#carrito-section {
  margin-left: 20px;
  align-items: center;
}
#guantes-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 24px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
.card {
  border: 1px solid #dc5f00;
  text-align: center;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 200px;
  height: 200px;
}
